<div class="nav-list">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="bx bx-grid-alt"></i>
        <span class="nav-text">Home</span>
    </NavLink>
    <NavLink class="nav-link" href="counter">
        <i class="bx bx-grid-alt"></i>
        <span class="nav-text">Counter</span>
    </NavLink>
    <NavLink class="nav-link" href="fetchdata">
        <i class="bx bx-grid-alt"></i>
        <span class="nav-text">Fetch data</span>
    </NavLink>
</div>
