<div class="sidebar collapsed">
    <div class="logo_details">
        <i class="bx bxl-audible icon"></i>
        <div class="brand">Blazor</div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <NavMenu/> 
</div>
